a{text-decoration:none; color:#fff}
body{font-family:"Outfit", sans-serif; font-size:.9em; background:#000; color:#fff;}
button{background:#000; border:none; color:#fff; font-family:"Outfit", sans-serif;}
input{border:none; padding:.5em; border-radius:1em; width:70%; background:#000; color:#fff; border:1.4px solid #000}
input::-webkit-search-cancel-button{-webkit-appearance:none; height:24px; width:24px; margin-left:.4em; background-image:url("data:image/svg+xml;utf8,<svg stroke-width='1.5' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' width='24'><path d='M6.75827 17.2426L12.0009 12M17.2435 6.75736L12.0009 12M12.0009 12L6.75827 6.75736M12.0009 12L17.2435 17.2426' stroke='white' stroke-linecap='round' stroke-linejoin='round'/></svg>");}
input:focus{outline: none; border:1.4px solid #fff}
label{padding-right:.5em}
ul{margin:.5em; background:#111; border-radius:.5em; padding-top:.5em; height:auto; overflow:hidden}
li{list-style-type:none; position:relative; padding-bottom:.5em; font-size:1.3em; line-height:1.5em}
li::before{content:'•'; color:#fff; background:linear-gradient(to bottom,#fcb322,#fcb322,#fc745c,#fc8c4c,#fcb322,#fcb322); height:1.7em; width:8px; font-size:3em; position:absolute; left:-.7em; top:-.1em; z-index:0; cursor:pointer;}
td{border-bottom:1px solid #777; padding:.3em}
.fixed{border-radius:2em; background:#000; position:fixed; right:1em; bottom:3em; margin: auto 0;}
.topics{width:100%; overflow:auto; padding-bottom:1em; white-space:nowrap}
.menu{border:1px solid #fff; background:#000; color:#fff; width:6em; border-radius:.5em; padding:.5em; z-index:1; display:none; position: absolute;}
.menu div{padding-bottom:.5em}
.footer{margin-top:8em;}
[class^="lang-"]{display:none}
